#doiInput {
    margin-right: 5px;
}

.form-input {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    /* border-bottom: 1px solid #ccc; */
    padding: 10px 0;
}

td,
th,
tr {
    text-align: left;
}

.xml-output pre {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: justify;
}